<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        #map {
            height: 500px;
        }
    </style>
</head>

<body>

    <div id="map"></div>
</body>
<script>
    function initMap() {
        var location = {
            lat: -1.316800,
            lng: 34.213830
        };

        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 4,
            center: location
        });

    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAePnd6n4Rc9yY3aATDR1zszaTsLAMFVW0&callback=initMap" type="text/javascript"></script>

</html>